#data related
data/*

#virtual env
venv/

#Python 3 bytecode
dataset/__pycache__/
model/__pycache__/
*.pyc

#IPython for testing purposes
test*.ipynb

#personal notes
TODO.txt
TODO.md

#Weight and Biases metadata folder
wandb/*
